header{
    width: auto;
}

.main_div{
    /* background: linear-gradient(to left, #5757b2, #b2b2d4); */
    background:linear-gradient( to left, #05458e, #a5a5d4);
    width: 100%;
    height: 80px;

}
.main_div img{
    mix-blend-mode: multiply;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    margin-top: 5px;
}
.img{
    opacity: 1;
    width:6%;
    height: 100%;
    /* background-size: contain; */
}

.div_container{
    display: flex;
    /* justify-content: center; */
    gap: 8%;
    align-items: center;
    margin-left: 40%;
    
}
.div_item{
    text-decoration: none;
    background-color: rgb(251, 251, 251);
    color:rgb(35, 35, 115);
    padding: 6px;
    position: relative;
    top: -57px;
    border-radius: 5px;
    cursor: pointer;
    
  
}
.div_item:hover{
    background-color: whitesmoke;
    color: blue;
}

.contact_div{
    background-color: #05458e;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    color:white;
}

.nextmain-div{
    border: 1px solid grey;
    width: 100%;
    height: 390px;
    display: flex;
    margin-top: -4px;
    /* justify-content: center; */
    /* align-items: center; */
}
.first{
    /* border: 1px solid grey; */
    width: 25%;
    height: 100%;
    background-color: #cfcfe1;
}
.second{
    /* border: 1px solid grey; */
    width: 50%;
    height: 100%;
}
.third{
    /* border: 1px solid grey; */
    width: 25%;
    height: 100%;
    
       

}

marquee{
    background-color: #05458e;
    color:white;
}

.enqueary_div{
    padding: 20px;
    margin: 0;
    /* background-color:  #e3e3ee; */
    
}
.enqueary{
    /* background-color: #e3e3ee; */
    margin: 0;
    background:linear-gradient( to left, #05458e, #a5a5d4);
    color: white;
    padding-bottom: 3px;
}
.myfield{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.myinput{
    color:  rgb(68,56,56);
    border: none;
    height: 40px;
    font-weight: bold;
    padding: 2px;
    transition: background-color 0.5s ease , box-shadow 0.8s ease;
    
}
.myinput:hover{
    background-color: #e0e0e0;
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.mymessege{
    background-color: #e0e0e0 ;
    color:  rgb(68,56,56);
    height: 60px;
    border-radius: 5px;
    box-shadow: 6px;
    font-weight: bold;
    /* padding: 2px; */
    transition: background-color 0.5s ease , box-shadow 0.5s ease; 

}
.btn{
    border-radius: 5px;
    /* background-color: darkgrey; */
    color: rgb(124, 124, 217);
    text-align: center;
    margin-left: 100px;
    margin-top: 5px;
    padding: 5px;
}
.btn:hover{
    color: blue;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
    /* padding: 10px; */
}

.nextnew{
    text-align: center;
    margin-top: 30px;
    font-size: xx-large;
    font-weight: bold;
    background:linear-gradient( to left, #05458e, #7e7ed1);
    color: white;
}
.new_packages{
    /* border: 1px solid grey; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.offer_package{
    width: 22%;
    height: 100%;
    /* background-color: #cfcfe1; */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}
.offer_package:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,0.4), 0 10px 20px rgba(0,0,0,0.40);
}
.new_img{
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.whychooseus{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background-image: url(/images/chooseus.gif);
    background-size: cover;
}

.media_content{
    width: 100%;
    height: 600px;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.media{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
}
.review_image{
    width: 100%;
    height: 600px;
}
.review_button{
    position: absolute;
    background-color:rgb(236, 177, 67);
    color:white;
    padding: 15px;
    border: none;
    width:10%;
    border-radius:20px;
    cursor: pointer;
    margin-top:39%;
    margin-left:-30%;
    font-size:15px;
    text-decoration: none;
    display:inline-block;
    text-align: center;
}
.readbutton:hover
{
    background-color:white;
    color: black;
}

.modal{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position: fixed;
    left:0;
    top:0;
    z-index:1000;
    display: none;
   
}
.review{
    background-color: whitesmoke;
    color:black;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    margin: 5% auto;
}
.close_button{
    color: red;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.login{
    background-color: whitesmoke;
    color:black;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    margin: 5% auto;
}
.sign-in{
    background-color: whitesmoke;
    color:black;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    margin: 5% auto;
}
.main-footer{
    background:linear-gradient( to left, #05458e, #a5a5d4);
    width: 100%; 
    height: 400px;
    margin-top: 20px;
    display: block;
}
.footer-top{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.footer-bottom{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around
}
.top-content{
    width: 30%;
    height: 300px;
    background-color: red;
    /* text-decoration-color: ; */
    /* justify-content: space-around; */
}
.bottom-content{
    width: 30%;
    height: 100px;
    margin-top: 4%;
    background-color: blue;
}

.footer_div{
    background: linear-gradient(to left, #7da3a36f, #ffffff);
    margin-top: 5px;
    width: 100%;
    height: 400px;
    display: block;
    
}
.footer_top_div{
    width: 100%;
    height: 200px;
    color: black;
    display: flex;
    justify-content: space-between;
    
}
.footer_bottom_div{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.top_content{
    margin-top: 3%;
    width: 25%;
    height: 200px;
    padding: auto;
    /* color: black; */
    /* background-color: red; */

}
.footer_bottom_content{
    margin-top: 10%;
    width: 20%;
    height: 100px;
    text-align: center;
    margin-bottom: 0;
    /* margin-left: 20px; */
    /* background-color: cadetblue; */
    

}
.logo_div{
    width: 70%;
    margin-top: -20px;
}
.about{
    font-size: x-large;
    font-weight: bolder;
}
a{
    color: black;
    text-decoration: none;
}